@model IEnumerable<AsveinNetworkMvc.Models.Company>
@using AsveinNetworkMvc.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> 公司信息 </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/jquery1.42.min.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/MoBan/images/favicon.ico">

    <!-- Google Fonts
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- All css files are included here
    ============================================ -->
    <!-- Bootstrap CSS
    ============================================ -->
    <link href="~/MoBan/css/bootstrap.min.css" rel="stylesheet" />
    <!-- This core.css file contents all plugins css file
    ============================================ -->
    <link href="~/MoBan/css/core.css" rel="stylesheet" />
    <!-- Theme shortcodes/elements style
    ============================================ -->
    <link href="~/MoBan/css/shortcode/shortcodes.css" rel="stylesheet" />
    <!-- Color Swithcer CSS
    ============================================ -->
    <link href="~/MoBan/css/plugins/color-switcher.css" rel="stylesheet" />
    <!--  Theme main style
    ============================================ -->
    <link href="~/MoBan/css/style.css" rel="stylesheet" />
    <!-- Color CSS
    ============================================ -->
    <link href="~/MoBan/css/plugins/color.css" rel="stylesheet" />
    <!-- Responsive CSS
    ============================================ -->
    <link href="~/MoBan/css/responsive.css" rel="stylesheet" />
    <!-- Modernizr JS -->
    <script src="~/MoBan/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--Breadcrumb Banner Area Start-->
    <div class="breadcrumb-banner-area pt-94 pb-85 bg-3 bg-opacity-dark-blue-90">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var item in Model)
                    {
                        <div class="breadcrumb-text">
                            <h2 class="text-center text-white uppercase mb-17"> 公司信息 </h2>
                            <div class="breadcrumb-bar">
                                <ul class="breadcrumb text-center m-0">
                                    <li class="text-white uppercase ml-15 mr-15"><a href="index.html">人数:@item.Cnumber</a></li>
                                    <li class="text-white uppercase ml-15 mr-15">@item.CNameNature</li>
                                </ul>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--Start of Single Job Post Area-->
    <div class="single-job-post-area pt-70 mb-120">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-md-8 col-md-offset-2">
                        <form action="#">
                            <div class="single-job-content">
                                <div class="area-title text-center">
                                    <h2 class="pt-10 pb-10" id="position">@item.CName</h2>
                                </div>

                                <div class="title uppercase pt-70 pb-26"><span> 公司行业 </span></div>
                                <div class="single-job-form">
                                    <p>@item.CompanyIndustry</p>
                                </div>
                                <div class="title uppercase mt-58 mb-25"><span> 公司简介 </span></div>
                                <div class="single-job-form">
                                    <p>@item.CompanyProfile</p>
                                </div>
                                <div class="single-job-form">
                                    <div class="title uppercase mt-58 mb-25"><span> 公司稀缺职位 </span></div>
                                    <div class="single-job-form">
                                        <p>@item.Companyposition</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="button" value="管理简历信息" class="btn btn-default" onclick="location.href='/CompanyManage/GetManageJob'" />
                                <input type="button" value="发布招聘信息" class="btn btn-default" onclick="location.href='/CompanyManage/AddCompany'" />
                                <input type="button" value="修改密码" class="btn btn-default" onclick="location.href='/Company/Xgmm'" />
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--End of Single Job Post Area-->
</body>
</html>
