

@{
    Layout = null;
}
<h1 style="margin-left:700px">求职者管理</h1>
<script src="~/js/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />

@model X.PagedList.IPagedList<AsveinNetworkMvc.Models.ManageJob>
@using X.PagedList.Mvc.Core
@using (Html.BeginForm("GetManageJob", "CompanyManage", FormMethod.Post, new AjaxOptions { UpdateTargetId = "DataDiv" }))
{
    <p>
        审核状态：<select id="Select1" name="selectId">
            <option value="0">审核</option>
            <option value="1">已通过</option>
        </select>
        <input id="Submit1" type="submit" value="查看" />
    </p>
}
<div id="DataDiv">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.R_Name)*@
                    姓名
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.R_Phone)*@
                    联系电话
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.R_Age)*@
                    年龄
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.R_EmailAddress)*@
                    个人邮箱
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.C_CompanyName)*@
                    公司名称
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.C_AvailablePositions)*@
                    职位
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.C_TypeLabor)*@
                    期望薪资
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.M_Pass)*@
                    审核
                </th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_AvailablePositions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_TypeLabor)
                    </td>
                    @if (item.M_Pass == 0)
                    {
                        <td> @Html.ActionLink("未审核", "UpdatePass", new { id = item.M_Id, name = item.R_Name, comName = item.C_CompanyName, email=item.R_Address, adress=item.C_CompanyAddress })</td>
                    }
                    else
                    {
                        <td>已通过</td>
                    }
                    <td>
                        @Html.ActionLink("详情", "ShowResumes","Resumes",new  {name=item.R_Name })
                        @Html.ActionLink("移除", "DeleteMa", new { id = item.M_Id })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-muted" colspan="4">
                    本页有 @Model.Count 条记录,共有 @Model.TotalItemCount 条记录。第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 页，共 @Model.PageCount 页。
                    @*这个条件表达式的目的是防止出现 记录为0的情况，会出现 总页数为0，而当前是第1页的情况。*@
                </td>
            </tr>
        </tfoot>

    </table>
    <input id="totalCount" type="hidden" value="@Model.TotalItemCount" />   @*总条数*@
    <input id="totalPage" type="hidden" value="@Model.PageCount" />   @*总页数  尾页*@
    <input id="pageIndex" type="hidden" value="@ViewData["page"]" />   @*当前第几页*@
    <input id="btnFirst" type="button" value="首页" class="btn btn-default" />
    <input id="btnPre" type="button" value="上一页" class="btn btn-default" />
    <input id="btnNext" type="button" value="下一页" class="btn btn-default" />
    <input id="btnLast" type="button" value="尾页" class="btn btn-default" />

    调到 &nbsp;&nbsp; <input id="txtGo" type="text" style="width:50px;height:25px" />&nbsp;&nbsp;<input id="btnGo" type="button" value="go" class="btn-danger btn" />
</div>
<script>
    $(function () {
        if ($("#pageIndex").val() == 1) {
            $("#btnPre").prop("disabled", "disabled");
            $("#btnFirst").prop("disabled", "disabled");
        } else {
            $("#btnPre").prop("disabled", "");
            $("#btnFirst").prop("disabled", "");
        }
        //禁用下一页尾页
        if ($("#pageIndex").val() == $("#totalPage").val()) {
            $("#btnNext").prop("disabled", "disabled");
            $("#btnLast").prop("disabled", "disabled");
        } else {
            $("#btnNext").prop("disabled", "");
            $("#btnLast").prop("disabled", "");
        }
    })
    function GetData() {
        //$.ajax({
        //    url: "/CompanyManage/GetManageJob",
        //    type: "post",
        //    data: { page: $("#pageIndex").val() },
        //    success: function (d) {
        //        $("#DataDiv").html(d);
        //    }
        //})
        location.href = "/CompanyManage/GetManageJob?page=" + $("#pageIndex").val();
        //禁用首页上一页
        if ($("#pageIndex").val() == 1) {
            $("#btnPre").prop("disabled", "disabled");
            $("#btnFirst").prop("disabled", "disabled");
        } else {
            $("#btnPre").prop("disabled", "");
            $("#btnFirst").prop("disabled", "");
        }
        //禁用下一页尾页
        if ($("#pageIndex").val() == $("#totalPage").val()) {
            $("#btnNext").prop("disabled", "disabled");
            $("#btnLast").prop("disabled", "disabled");
        } else {
            $("#btnNext").prop("disabled", "");
            $("#btnLast").prop("disabled", "");
        }

    }


    //首页
    $("#btnFirst").click(function () {
        $("#pageIndex").val(1);
        GetData();
    })
    //尾页
    $("#btnLast").click(function () {
        $("#pageIndex").val($("#totalPage").val());
        GetData();
    })
    //下一页
    $("#btnNext").click(function () {

        //当前页
        var currPage = Number($("#pageIndex").val());
        //当前页不等于尾页
        if (currPage != $("#totalPage").val()) {
            $("#pageIndex").val(currPage + 1);//当前页加1
        }
        GetData();
    })

    //上一页
    $("#btnPre").click(function () {
        //当前页
        var currPage = Number($("#pageIndex").val());
        //当前页不等于尾页
        if (currPage != 1) {
            $("#pageIndex").val(currPage - 1);//当前页加1
        }
        GetData();
    })
    //跳转页
    $("#btnGo").click(function () {
        if ($("#txtGo").val().indexOf('.') > -1) {
            alert("不能输入小数");
            return;
        }

        if (Number($("#txtGo").val()) <= Number($("#totalPage").val()) && Number($("#txtGo").val()) >= 1) {
            $("#pageIndex").val($("#txtGo").val());
            GetData();
        }
    })
</script>


