@using AsveinNetworkMvc.Models;
@model List<CompanyManage>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Single Job Post</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/jquery1.42.min.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/MoBan/images/favicon.ico">

    <!-- Google Fonts
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- All css files are included here
    ============================================ -->
    <!-- Bootstrap CSS
    ============================================ -->
    <link href="~/MoBan/css/bootstrap.min.css" rel="stylesheet" />
    <!-- This core.css file contents all plugins css file
    ============================================ -->
    <link href="~/MoBan/css/core.css" rel="stylesheet" />
    <!-- Theme shortcodes/elements style
    ============================================ -->
    <link href="~/MoBan/css/shortcode/shortcodes.css" rel="stylesheet" />
    <!-- Color Swithcer CSS
    ============================================ -->
    <link href="~/MoBan/css/plugins/color-switcher.css" rel="stylesheet" />
    <!--  Theme main style
    ============================================ -->
    <link href="~/MoBan/css/style.css" rel="stylesheet" />
    <!-- Color CSS
    ============================================ -->
    <link href="~/MoBan/css/plugins/color.css" rel="stylesheet" />
    <!-- Responsive CSS
    ============================================ -->
    <link href="~/MoBan/css/responsive.css" rel="stylesheet" />
    <!-- Modernizr JS -->
    <script src="~/MoBan/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--Breadcrumb Banner Area Start-->
    <div class="breadcrumb-banner-area pt-94 pb-85 bg-3 bg-opacity-dark-blue-90">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text">
                        <h2 class="text-center text-white uppercase mb-17">工作详情</h2>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb text-center m-0">
                                <li class="text-white uppercase ml-15 mr-15"><a href="index.html">Home</a></li>
                                <li class="text-white uppercase ml-15 mr-15">Job Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--Start of Single Job Post Area-->
    <div class="single-job-post-area pt-70 mb-120">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form action="#">
                        <div class="single-job-content">
                                <div class="area-title text-center">
                                    <h2 class="pt-10 pb-10" id="position">@Model[0].C_AvailablePositions</h2>
                                </div>

                                <div class="title uppercase pt-70 pb-26"><span>职位描述</span></div>
                                <div class="single-job-form">
                                    <p>@Model[0].C_JobRequirements</p>
                                </div>
                                <div class="title uppercase mt-58 mb-25"><span>任职要求</span></div>
                                <div class="single-job-form">
                                    <div class="single-info mb-14">
                                        <span class="number block"><span>1.</span>@Model[0].C_JobRequirements</span>
                                        <span class="number block"><span>2.</span>在团队环境中参与软件开发解决方案</span>
                                        <span class="number block"><span>3.</span>编写自动化单元测试脚本，并与测试工程师一起发现并更正问题</span>
                                        <span class="number block"><span>4.</span>熟练掌握算法、数据结构和设计模式</span>
                                        <span class="number block"><span>5.</span>对大数据AI算法、深度学习模型有兴趣者优先</span>
                                        <span class="number block"><span>6.</span>对金融有兴趣者优先</span>
                                    </div>
                                </div>
                                <div class="title uppercase pt-47 pb-26"><span class="medium">公司信息</span></div>
                                <div class="single-job-form">
                                    <p><span id="Companyname">@Model[0].C_CompanyName</span></p>
                                    <p><span>公司电话：</span><span id="CompanyPhone">@Model[0].C_CompanyPhone</span></p>
                                    <p><span>公司地址：</span><span id="CompangAddress">@Model[0].C_NearEstoffice</span></p>
                                    <span>邮箱地址：</span><span id="Email">@Model[0].C_EmailAddress</span>
                                </div>
                                <div class="mt-38">
                                    <a href="/AsveinNetwork/XinJobsearch" class="button button-large-box lg-btn mr-20" onclick="">返回</a>
                                    <a class="button button-large-box lg-btn mr-20" onclick="AddResumes()">提交简历</a>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End of Single Job Post Area-->

</body>
</html>

<script>
    function AddResumes() {
        //公司名称
        var cname = document.getElementById("Companyname").innerHTML;
        //职位信息
        var position = document.getElementById("position").innerHTML;
        //公司地址
        var address = document.getElementById("CompangAddress").innerHTML;

        var admin = $.cookie("admin");
        if (admin == null) {
            alert("请先登录");
        } else {

            var People = new Object();
           
            $.ajax({
                url: "https://localhost:44370/api/resumes/getresume/" + admin,
                async: false,
                type:"get",
                success: function (data) {
                    People = data[0];
                }
            })
            var rName = People.r_Name;
            var rPhone = People.r_Phone;
            var rAge = People.r_Age;
            var rAddress = People.r_Email;
            var rSalary = People.r_Salary;

            var job = new Object();
            job.C_CompanyName = cname;
            job.C_AvailablePositions = position;
            job.R_Name = rName;
            job.R_Phone = rPhone;
            job.R_Age = rAge;
            job.R_EmailAddress = rAddress;
            job.C_TypeLabor = rSalary;


            $.ajax({
                url: "/CompanyManage/PostResumes",
                data: { "cname": cname, "position": position, "address": address, "rName": rName, "rPhone": rPhone, "rAge": rAge, "rAddress": rAddress, "rSalary": rSalary },
                success: function (result) {
                    if (result > 0) {
                        alert("简历提交成功");
                    }
                    else {
                        alert("简历提交失败");
                    }
                }
            })
        }
    }
</script>
